<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
          <div class="row">
          <div class="col-md-4 mx-auto">
  
                  <form #f="ngForm" (ngSubmit)="sendEmail(f.value)">  
                    <h2 class="text-center">Password Forgotten !</h2>
  
                    <p class="text-muted text-center">Tap you Email</p>
                    <div class="form-group">
                      <span class="input-group-text"><i class="fa fa-envelope">    Email </i></span>
                      <input type="email" class="form-control" name="email"  required ngModel >
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-block btn-outline-dark " >Send</button>
                      </div>
                    </div>         
                  </form>
                           
          </div>
        </div>
      </div>
    </main>
  
  </div>
  