<div class="row">
  <div class="col-lg-9">
<div class="input-group">
  <input type="text" class="form-control" placeholder="Tap a key word ..." [(ngModel)]="query">
          <div class="input-group-btn">
                  <button class="btn btn-info btn-md" type="button" (click)="map.places(query)">Search</button>
          </div>
   </div>             
</div>
<div class="col-lg-3" >
                                                      <select class="form-control">
                                                              <option>Select Alert Type</option>
                                                              <option>Sensor Alert</option>
                                                              <option>Citizen Alert</option>
                                                                        
                                                      </select>
                                              </div>

                                            </div>
<div *ngFor="let item of personList">
  <div  class="card z-depth" style="margin-bottom: 10px" >

    <div class="card-header">
     <h3> {{ item.id }}</h3>
     <h5 class="text-thin"><i class="fa fa-exclamation-triangle fa-fw text-danger"></i>Road Accident</h5>
                                
                                <div class="card-body">
                                     <p class="media-heading">Send By <a  href="#">+213666578941</a> at <i class="fa fa-clock-o"></i> 17:42  3/6/2019</p>
                                     <p>Description: "There are people stuck into the cars!!"</p>
                                     <div class="text-semibold pad-hor text-sm">
                                        <button type="button" class="btn btn-dark btn-sm btn-block" (click)="isCollapsed = !isCollapsed" >Media</button>
                                      </div>
                                      <div class="card-footer " (collapsed)="collapsed($event)"(expanded)="expanded($event)"[collapse]="!isCollapsed">   
                                          <div class="row"><img src="../../../assets/img/avatars/accident.jpg" class="img-thumbnail" alt="Responsive image"></div>
                                          </div>
                                     <div class="row align-items-center mt-3">
                                              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center"><button type="button" class="btn btn-pill btn-block btn-dark">Remove</button></div>

                                     </div>
    </div>      
  </div>

</div>
</div>
